<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubtitleDownloader.Properties.SubSearchSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SubtitleDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SubtitleDownloader.Properties.SubSearchSettings>
      <setting name="TargetDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnoreSubbedFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFirstColumn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedLanguage" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="ReleaseNames" serializeAs="String">
        <value>KILLERS,DIMENSION,SPARKS,MAJESTiC,YIFY,JYK,Hive,ROVERS,LOL,GHOULS,EVO,ETRG,FUM,BATV,W4F</value>
      </setting>
      <setting name="ReleaseNamesSecondary" serializeAs="String">
        <value>TLA,FoV,720p,1080p,x264</value>
      </setting>
      <setting name="FileTypes" serializeAs="String">
        <value>.mkv,.mp4,.avi</value>
      </setting>
    </SubtitleDownloader.Properties.SubSearchSettings>
    <SubtitleDownloader.Properties.Settings>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="IsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
    </SubtitleDownloader.Properties.Settings>
  </userSettings>
</configuration>